 <header id="header">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo-container">
                    <img src="../../assets/images/logo.png" alt="">
                </div>
                <ul class="nav-container">
                    <li class="nav-item">
                        <a href="#" class="btn btn-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="btn btn-link">Solutions</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="btn btn-link">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="btn btn-violet">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="btn btn-violet-fill">Get Started</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main-wrapper">
        <section class="section one">
            <img src="../../assets/images/circle.svg" alt="" class="bg-img big-circle">
            <img src="../../assets/images/blob-small.svg" alt="" class="bg-img small-circle">
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <div class="text-container">
                            <h3 class="heading">
                                We make it Super <br />Simple
                            </h3>
                        </div>
                        <div class="img-container">
                            <img src="../../assets/images/accounting_dots.svg" alt="" class="inner-bg-dots">
                            <img src="../../assets/images/collect_img-video.png" alt="">
                        </div>
                    </div>
                    <div class="col-5 offset-2">
                        <div class="calc-container">
                            <img src="../../assets/images/accounting_dots.svg" alt="" class="calc-bg-dots">
                            <div class="form-container">
                                <h4 class="form-heading">
                                    Eligibility Calculator
                                </h4>
                                <form action="">

                                </form>
                            </div>
                            <div class="calc-value-container">
                                <div class="calc-value-row">
                                    <p class="name">Calc value</p>
                                    <p class="value">₹123456</p>
                                </div>
                                <div class="calc-value-row">
                                    <p class="name">Calc value</p>
                                    <p class="value">₹123456</p>
                                </div>
                                <button class="btn btn-white-fill">
                                    GET MONEY
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section two">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="card-container">
                            <div class="card">
                                <div class="card-image-container">
                                    <img src="../../assets/images/Get Paid Instantly.png" alt="">
                                </div>
                                <h3 class="card-head">
                                    Lorem, ipsum dolor.
                                </h3>
                                <p class="card-para">
                                    Lorem ipsum dolor sit amet conse adipisicing elit.
                                </p>
                            </div>
                            <div class="card">
                                <div class="card-image-container">
                                    <img src="../../assets/images/Get Paid Instantly.png" alt="">
                                </div>
                                <h3 class="card-head">
                                    Lorem, ipsum dolor.
                                </h3>
                                <p class="card-para">
                                    Lorem ipsum dolor sit amet conse adipisicing elit.
                                </p>
                            </div>
                            <div class="card">
                                <div class="card-image-container">
                                    <img src="../../assets/images/Get Paid Instantly.png" alt="">
                                </div>
                                <h3 class="card-head">
                                    Lorem, ipsum dolor.
                                </h3>
                                <p class="card-para">
                                    Lorem ipsum dolor sit amet conse adipisicing elit.
                                </p>
                            </div>
                            <div class="card">
                                <div class="card-image-container">
                                    <img src="../../assets/images/Get Paid Instantly.png" alt="">
                                </div>
                                <h3 class="card-head">
                                    Lorem, ipsum dolor.
                                </h3>
                                <p class="card-para">
                                    Lorem ipsum dolor sit amet conse adipisicing elit.
                                </p>
                            </div>
                            <div class="card">
                                <div class="card-image-container">
                                    <img src="../../assets/images/Get Paid Instantly.png" alt="">
                                </div>
                                <h3 class="card-head">
                                    Lorem, ipsum dolor.
                                </h3>
                                <p class="card-para">
                                    Lorem ipsum dolor sit amet conse adipisicing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="offset-1 col-3 verticle-center">
                        <div class="text-container">
                            <h3 class="heading">
                                Boost your business <br />with Open
                            </h3>
                            <p class="para-text">
                                Get your hands on a term loan that’s crafted for your business
                            </p>
                            <a href="#" class="btn btn-violet">Get an Open Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>