/* Prefixes */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* Global Style */
img {
    display: block;
}

.verticle-center {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto ;
    position: relative;
    z-index: 1;
}

.row {
    width: 100%;
    display: flex;
}

.col-1 {
    width: 8.333333%;
}
.col-2 {
    width: 16.666666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333%;
}
.col-5 {
    width: 41.666666%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333333%;
}
.col-8 {
    width: 66.666666%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333333%;
}
.col-11 {
    width: 91.666666%;
}
.col-12 {
    width: 100%;
}

.offset-1 {
    margin-left: 8.333333%;
}
.offset-2 {
    margin-left: 16.666666%;
}
.offset-3 {
    margin-left: 25%;
}
.offset-4 {
    margin-left: 33.333333%;
}
.offset-5 {
    margin-left: 41.666666%;
}
.offset-6 {
    margin-left: 50%;
}
.offset-7 {
    margin-left: 58.333333%;
}
.offset-8 {
    margin-left: 66.666666%;
}
.offset-9 {
    margin-left: 75%;
}
.offset-10 {
    margin-left: 83.333333%;
}
.offset-11 {
    margin-left: 91.666666%;
}
.offset-12 {
    margin-left: 100%;
}

.text-container {
    width: 100%;
}

.heading {
    font-size: 22px;
    line-height: 32px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;
}

.heading:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 160px;
    height: 4px;
    border-radius: 2px;
    background: #707070;
}

.para-text {
    font-size: 14px;
    line-height: 22px;
    color: #C5C5C5;
    font-weight: 300;
}

.text-container .btn.btn-violet {
    margin-top: 40px;
    box-shadow: none;
}

.section {
    position: relative;
}

.section.one {
    padding-top: 160px;
    overflow: hidden;
    padding-bottom: 100px;
}

.section.one .text-container {
    margin-left: 30px;
    margin-bottom: 60px;
}

.section.one .img-container {
    position: relative;
    /* overflow: hidden; */
    margin-bottom: 120px;
}

.section.one .img-container img {
    border-radius: 10px;
    width: 100%;   
}
.section.one .img-container .inner-bg-dots {
    border-radius: 0px;
    width: 250px;
    position: absolute;
    right: -60px;
    bottom: -20px;
}



.section.two {
    margin-top: 150px;
    padding-bottom: 60px;
    background: transparent url('../../assets/images/sol_wave_bg.svg') 0% 0% no-repeat padding-box;
}

/* Button Style */
.btn {
    height: 28px;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    line-height: 1;
}

.btn.btn-link {
    background: transparent;
    font-size: 16px;
    letter-spacing: 0px;
    color: #222222;
    font-weight: 400;
}

.btn.btn-violet {
    /* box-shadow: 0px 0px 20px #00000033; */
    border: 1px solid #663399;
    border-radius: 14px;
    font-size: 12px;
}

.btn.btn-violet-fill {
    color: #FFFFFF;
    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000033;
    border-radius: 14px;
    font-size: 12px;
}

.btn.btn-white-fill {
    color: #663399;
    background: #FFFFFF;
    border-radius: 14px;
    font-size: 12px;
}

/* Navbar Styles */
#header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    width: 80px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 30px;
}

.nav-item:last-child {
    margin-right: 0;
}

/* Card Styles */
.card-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 24px;
}

.card {
    box-shadow: 0px 0px 30px #2321321F;
    /* border: 1px solid #FFFFFF; */
    border-radius: 10px;
    /* min-height: 250px; */
    padding: 26px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    /* background: #9F62C9; */
    z-index: -1;
    transition: 0.5s;
}

.card:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
}
.card:nth-child(2) {
    grid-column: 1/2;
    grid-row: 3/5;
}
.card:nth-child(3) {
    grid-column: 1/2;
    grid-row: 5/7;
}
.card:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}
.card:nth-child(5) {
    grid-column: 2/3;
    grid-row: 4/6;
}

.card-image-container {
    margin-bottom: 20px;
}

.card-image-container img {
    height: 60px;
}

.card-head {
    margin-bottom: 10px;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}

.card-para {
    color: #C5C5C5;
    font-size: 14px;
    line-height: 22px;
}

.card:hover:after {
    opacity: 0.5;
    background: #9F62C9;
}

.card:hover .card-head, 
.card:hover .card-para {
    color: #FFFFFF;
}

/* Calculatore Styles */
.calc-container {
    display: flex;
    align-items: center;
    position: relative;
}

.form-container {
    background: #FFFFFF;
    border-radius: 10px;
    width: 74%;
    height: 400px;
    padding: 10px 30px;
    margin-right: 5px;
}

.form-heading {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
}

.calc-value-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 26%;
    background: #653297;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 100px 20px;
}

.calc-value-container .btn {
    margin-top: 20px;
}

.calc-value-row {
    margin-bottom: 10px;
    width: 100%;
}

.calc-value-row > p {
    text-align: center;
    font-weight: 400;
}

.calc-value-row > .name {
    color: #C5C5C5;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
}

.calc-value-row > .value {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
}

/* BG image styles */
.bg-img {
    position: absolute;
}

.big-circle {
    width: 840px;
    top: -22%;
    right: -5%;
}

.small-circle {
    width: 400px;
    left: -8%;
    top: 20%;
}

.calc-bg-dots {
    width: 250px;
    position: absolute;
    bottom: -20px;
    right: -50px;
    z-index: -1;
}